log/*
config/locales/log/*
tmp/*
database.yml
*.sqlite
*.sqlite3
doc/api
.DS_Store
.svn
public/image_assets/*
public/system/*
coverage
coverage.data
doc/app
doc/plugins
config/initializers/mail.rb
coverage
*.zargo~*
*.tmproj
public/system/*
db/schema.rb

